.aboutIntro{
    padding-top: 150px;
    padding-bottom: 100px;
}

.aboutIntroImage {
    position: relative;
    width: 100%;
  
    @include min(992){
        width: 44.77%;

        height: 360px;
    }
    @include min(1200){
       height: 437px;
    }
    @include min(1280){
        height: 465px;
    }
    @include min(1350){
        height: 493px;
    }
    @include min(1440){
        height: 523px;
    }
    @include min(1600){
        height: 579px;
    }
    @include min(1900){
       height: 698px;
    }
    > picture{
        img{
            width: 80.52%;
            height: auto;
        }
    }
}
.aboutMask{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 74.03%;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.aboutIntroDescription {
    width: 100%;
    @include min(992){
        width: 49.42%;

    }

    p{
        width: 100%!important;
    }
    h2{
        width: 95%!important;
    }
    p{
        margin-bottom: 10px;
        @include min(768){
            margin-bottom: 15px;
        }
        @include min(992){
            margin-bottom: 20px;
        }
        @include min(1280){
            margin-bottom: 25px;
        }
        @include min(1440){
            margin-bottom: 32px;
        }
        @include min(1600){
            margin-bottom: 35px;
        }
        @include min(1900){
            margin-bottom: 40px;
        }
    }
}