.clientNav {
    width: 110px;
    @include min(992){
        width: 140px;

    }
    
}
.clients{
    .heading{
        h2{
            margin-bottom: 0;
        }
    }
    picture{
        height: 70px;
        display: flex!important;
        align-items: center;
        justify-content: center;
        @include min(1200){
            height: 70px;
        }
        @include min(1440){
            height: 75px;
        }
        @include min(1600){
            height: 86px;
        }
        @include min(1900){
            height: 115px;
        }

    }
    img{
        object-fit: cover;
        transition: 0.4s ease all;
        filter: grayscale(1);
        mix-blend-mode: luminosity;
        opacity: 0.5;
    }
    picture{
        &:hover,&.slick-current{
            img{
                transition: 0.5s ease all;
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }
    .slick-list{
        margin: 0px -20px;
    }
    .slick-slide{
        margin: 0px 20px;
    }
}