.contact-page{
    @extend .commonPadding;

    .heading{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    
        h2{
            width: 100%!important;
           }
    }
}
.contact-address{
    width: 100%;

    >div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        @include min(992){
            margin-bottom: 40px;
        }
        @include min(1200){
            margin-bottom: 45px;
        }
        @include min(1440){
            margin-bottom: 50px;
        }
        @include min(1600){
            margin-bottom: 55px;
        }
        @include min(1900){
            margin-bottom: 60px;
        }
        &:last-child{
           @include min(992){
            margin-bottom: 0;
           }
        }
       > strong,>a,>p,>div{
            padding-left:35px;
       
        
            @include min(1440){
                padding-left: 40px;
            }
            @include min(1600){
                padding-left: 45px;
            }
            @include min(1900){
                padding-left: 55px;
            }
        }
        strong,a,p{
            color: $black;
        }
        strong,a{
            width: 100%;
        }
        &.phone{
            strong::before{
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none"><rect width="35" height="35" rx="17.5" fill="%236A2875"/><path d="M18.8184 8.83604C18.8184 8.61466 18.9063 8.40235 19.0629 8.24581C19.2194 8.08927 19.4317 8.00133 19.6531 8.00133C21.8661 8.00376 23.9877 8.88396 25.5526 10.4488C27.1174 12.0137 27.9976 14.1354 28 16.3484C28 16.5698 27.9121 16.7821 27.7555 16.9386C27.599 17.0951 27.3867 17.1831 27.1653 17.1831C26.9439 17.1831 26.7316 17.0951 26.5751 16.9386C26.4186 16.7821 26.3306 16.5698 26.3306 16.3484C26.3286 14.578 25.6245 12.8806 24.3726 11.6288C23.1208 10.3769 21.4235 9.67273 19.6531 9.67074C19.4317 9.67074 19.2194 9.5828 19.0629 9.42626C18.9063 9.26973 18.8184 9.05741 18.8184 8.83604ZM19.6531 13.0096C20.5386 13.0096 21.3878 13.3613 22.0139 13.9875C22.6401 14.6136 22.9918 15.4629 22.9918 16.3484C22.9918 16.5698 23.0798 16.7821 23.2363 16.9386C23.3929 17.0951 23.6052 17.1831 23.8265 17.1831C24.0479 17.1831 24.2602 17.0951 24.4168 16.9386C24.5733 16.7821 24.6612 16.5698 24.6612 16.3484C24.6599 15.0205 24.1318 13.7474 23.1929 12.8085C22.254 11.8696 20.9809 11.3415 19.6531 11.3402C19.4317 11.3402 19.2194 11.4281 19.0629 11.5846C18.9063 11.7412 18.8184 11.9535 18.8184 12.1749C18.8184 12.3962 18.9063 12.6085 19.0629 12.7651C19.2194 12.9216 19.4317 13.0096 19.6531 13.0096ZM27.2429 21.9735C27.7266 22.4585 27.9983 23.1156 27.9983 23.8006C27.9983 24.4856 27.7266 25.1427 27.2429 25.6278L26.4834 26.5034C19.6472 33.0483 3.01181 16.4168 9.45564 9.55889L10.4155 8.72419C10.9011 8.25398 11.5523 7.99386 12.2282 8.00011C12.9042 8.00636 13.5504 8.27847 14.0272 8.75758C14.0531 8.78345 15.5998 10.7926 15.5998 10.7926C16.0587 11.2747 16.3142 11.9152 16.3131 12.5809C16.3121 13.2465 16.0545 13.8861 15.594 14.3668L14.6274 15.5821C15.1623 16.8818 15.9488 18.0631 16.9416 19.0579C17.9344 20.0527 19.114 20.8416 20.4126 21.3791L21.6355 20.4067C22.1162 19.9466 22.7557 19.6893 23.4211 19.6883C24.0866 19.6874 24.7268 19.9429 25.2088 20.4017C25.2088 20.4017 27.2171 21.9476 27.2429 21.9735ZM26.0944 23.1871C26.0944 23.1871 24.097 21.6504 24.0711 21.6245C23.8991 21.454 23.6668 21.3584 23.4246 21.3584C23.1825 21.3584 22.9501 21.454 22.7782 21.6245C22.7556 21.6479 21.0721 22.9893 21.0721 22.9893C20.9586 23.0796 20.8236 23.1388 20.6803 23.161C20.537 23.1833 20.3904 23.1678 20.2549 23.1162C18.5725 22.4898 17.0444 21.5091 15.7741 20.2407C14.5038 18.9722 13.5209 17.4455 12.8921 15.7641C12.8363 15.6267 12.8181 15.477 12.8394 15.3303C12.8607 15.1836 12.9206 15.0452 13.0131 14.9294C13.0131 14.9294 14.3544 13.2449 14.377 13.2232C14.5475 13.0513 14.6432 12.8189 14.6432 12.5768C14.6432 12.3346 14.5475 12.1022 14.377 11.9303C14.3511 11.9052 12.8144 9.90613 12.8144 9.90613C12.6399 9.74963 12.4121 9.66581 12.1778 9.67187C11.9434 9.67792 11.7203 9.77338 11.5541 9.93868L10.5942 10.7734C5.88483 16.436 20.3008 30.0526 25.263 25.3632L26.0234 24.4867C26.2016 24.3217 26.3087 24.0938 26.3219 23.8513C26.3351 23.6088 26.2536 23.3706 26.0944 23.1871Z" fill="white"/></svg>');
            }
        }
        &.email{
            strong::before{
                background: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="35" height="35" rx="17.5" fill="%236A2875"/><g clip-path="url(%23clip0_1272_2561)"><path d="M22.8333 8.83594H11.1667C10.062 8.83726 9.00296 9.27667 8.22185 10.0578C7.44073 10.8389 7.00132 11.8979 7 13.0026L7 23.0026C7.00132 24.1073 7.44073 25.1663 8.22185 25.9474C9.00296 26.7285 10.062 27.1679 11.1667 27.1693H22.8333C23.938 27.1679 24.997 26.7285 25.7782 25.9474C26.5593 25.1663 26.9987 24.1073 27 23.0026V13.0026C26.9987 11.8979 26.5593 10.8389 25.7782 10.0578C24.997 9.27667 23.938 8.83726 22.8333 8.83594ZM11.1667 10.5026H22.8333C23.3323 10.5036 23.8196 10.6539 24.2325 10.9341C24.6453 11.2143 24.9649 11.6117 25.15 12.0751L18.7683 18.4576C18.2987 18.9254 17.6628 19.188 17 19.188C16.3372 19.188 15.7013 18.9254 15.2317 18.4576L8.85 12.0751C9.03512 11.6117 9.35468 11.2143 9.76754 10.9341C10.1804 10.6539 10.6677 10.5036 11.1667 10.5026ZM22.8333 25.5026H11.1667C10.5036 25.5026 9.86774 25.2392 9.3989 24.7704C8.93006 24.3015 8.66667 23.6656 8.66667 23.0026V14.2526L14.0533 19.6359C14.8355 20.4162 15.8952 20.8543 17 20.8543C18.1048 20.8543 19.1645 20.4162 19.9467 19.6359L25.3333 14.2526V23.0026C25.3333 23.6656 25.0699 24.3015 24.6011 24.7704C24.1323 25.2392 23.4964 25.5026 22.8333 25.5026Z" fill="white"/></g><defs><clipPath id="clip0_1272_2561"><rect width="20" height="20" fill="white" transform="translate(7 8)"/></clipPath></defs></svg>');
            }
        }
        &.address{
            strong::before{
                background: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="35" height="35" rx="17.5" fill="%236A2875"/><g clip-path="url(%23clip0_1272_2569)"><path d="M14.553 20.398C15.228 21.058 16.114 21.388 17 21.388C17.886 21.388 18.772 21.058 19.447 20.398L21.949 17.95C23.271 16.628 24 14.87 24 13C24 11.13 23.271 9.373 21.949 8.05C20.628 6.728 18.87 6 17 6C15.13 6 13.372 6.728 12.05 8.05C9.321 10.779 9.321 15.22 12.058 17.957L14.553 20.397V20.398ZM13.464 9.465C14.408 8.521 15.664 8.001 17 8.001C18.336 8.001 19.591 8.521 20.535 9.465C21.479 10.409 22 11.665 22 13.001C22 14.337 21.479 15.592 20.543 16.529L18.049 18.969C17.471 19.533 16.529 19.533 15.951 18.969L13.464 16.537C11.515 14.587 11.515 11.414 13.464 9.465ZM14 12.991C14 11.334 15.343 9.991 17 9.991C18.657 9.991 20 11.334 20 12.991C20 14.648 18.657 15.991 17 15.991C15.343 15.991 14 14.648 14 12.991ZM29 22.768C29 23.12 28.815 23.445 28.515 23.625L18.654 29.542C18.144 29.848 17.572 30.001 17.001 30.001C16.43 30.001 15.857 29.848 15.348 29.542L5.485 23.626C5.184 23.445 5 23.12 5 22.769C5 22.418 5.185 22.092 5.485 21.912L9.714 19.375C10.189 19.09 10.803 19.244 11.086 19.718C11.37 20.192 11.217 20.806 10.743 21.09L7.943 22.77L16.376 27.83C16.761 28.06 17.239 28.06 17.624 27.83L26.057 22.77L23.257 21.09C22.783 20.806 22.63 20.192 22.914 19.718C23.198 19.244 23.811 19.09 24.286 19.375L28.515 21.912C28.816 22.093 29 22.417 29 22.768Z" fill="white"/></g><defs><clipPath id="clip0_1272_2569"><rect width="24" height="24" fill="white" transform="translate(5 6)"/></clipPath></defs></svg>');
            }
        }
        strong{
            margin-bottom: 10px;
            position: relative;
            &::before{
                @extend .position;
               
                left:0;
                background-size: contain!important;
                background-repeat: no-repeat!important;
                width: 27px;
                height: 27px;
                @include min(1200){
                    width: 25px;
                    height: 25px;
                }
                @include min(1300){
                    width: 28px;
                    height: 28px;
                }
                @include min(1440){
                    width: 30px;
                    height: 30px;
                }
                @include min(1600){
                    width: 33px;
                    height: 33px;
                }
                @include min(1900){
                    width: 35px;
                    height: 35px;
                }
            }
        }
      
        div{
                 display: flex;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid #C1C1C1;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;
                @include max(767){
                    flex-wrap: wrap;
                }
             &:last-child{
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
             }
            p{
                width: 100%;

                @include min(768){
                    width: 63.71%;
                }
            }
            a{
                width: 100%;
                color: #518EF8;
                @include min(768){
                    width: 31.65%;
                }

            }
        }
    }
}
.form-container{
    width: 100%;
    position: relative;

    @include min(992){
        width: 60.07%;
    }
    @include min(1200){
        width: 64.07%;
    }
    @include min(1440){
        width: 64.07%;
    }
}
.form-wrapper {
    background: linear-gradient(92deg, #6A2875 21.35%, #C64BDB 99.89%);
    border-radius: 50px;
    padding: 30px;
    width: 100%;
    @include min(992){
        width: 80.04%;
        padding: 50px;
        border-radius: 65px;

    }
    @include min(1200){
        padding: 65px;
        border-radius: 70px;

    }
    @include min(1440){
        padding: 70px;
        border-radius: 85px;

    }
    @include min(1600){
        padding: 80px;
        border-radius: 90px;
    }
    @include min(1900){
        padding: 100px;
        border-radius: 100px;
    }
    form{

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 33px 0px;
        @include min(992){
            gap: 22px 0px;
            width: 80%;
        }
        @include min(1200){
            gap: 25px 0px;
            width: 73.32%;
        }
        @include min(1440){
            gap: 30px 0px;
        }
        @include min(1600){
            gap: 36px 0px;
        }
        @include min(1900){
            gap: 39px 0px;
        }
        input,select,textarea,.formGroup{
            width: 100%;
        }
    }
    picture{
        position: relative;
        right: 0;
        top: 50px;
        width: 100%;
        @include min(992){
            position: absolute;
            width: 36.48%;
            top: 100px;
        }
        img{
            width: 100%;
            position: relative;
            z-index: 2;
        }
        &::after{
            @extend .position;
            width: 100%;
            height: 100%;
            background-color: $primaryColor;
            right: -10.05px;
            z-index: 0;
        }
        img,&:after{
            border-radius: 500px;

        }
    }
    h3{
        color: $white;
        text-transform: uppercase;
        margin-bottom: 35px;
        @include min(992){
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 30px; 
        }
        @include min(1200){
            margin-bottom: 36px;
            font-size: 24px;
            line-height: 36px; 
        }
        @include min(1440){
            margin-bottom: 40px;
            font-size: 25px;
            line-height: 37px; 
        }
        @include min(1600){
            margin-bottom: 44px;
            font-size: 26px;
            line-height: 38px; 
        }
        @include min(1900){
            margin-bottom: 49px;
            font-size: 28px;
            line-height: 40px; 
        }

    }
}