.counter{
  @extend .commonPadding

}
.timer-col{
  transition: 0.8s ease all;

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $border;;
  padding-top: 20px;
  margin-bottom: 40px;
  width: 48%;
  border-radius: 5px;
  @include min(576){
    border-radius: 10px;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 31.3%;
  }

  @include min(992){
    width: 15.7%;
  }

  
 
  strong,span,sup{
    font-weight: 600;
    transition: 0.8s ease all;

  }
  span{
    display: inline-block;
  }
  strong{
    margin-bottom: 5px;
    display: inline-block;
    @include min(1200){
      margin-bottom: 10px;

    }
  }
  p{
    margin-bottom: 8px;
    @include min(576){
      margin-bottom: 15px;
    }
    @include min(992){
      margin-bottom: 15px;
    }
    @include min(1200){
      margin-bottom: 20px;
    }
  }
  sup{
    margin-left: 5px;
    @include min(1200){
      margin-left: 8px;
    }
    @include min(1440){
      margin-left: 10px;
    }
    @include min(1600){
      margin-left: 13px;
    }
    @include min(1900){
      margin-left: 15px;
    }
  }
  picture{
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: $secondaryColor;
    margin-bottom: -30px;
    border-radius: 50%;
    transition: 0.8s ease all;
    @include min(576){
      margin-bottom: -30px;
    }
    @include min(768){
      margin-bottom: -30px;
    }
    @include min(992){
      margin-bottom: -30px;
    }
    @include min(1200){
      margin-bottom: -35px;
    }
    @include min(1440){
      margin-bottom: -45px;
    }
    @include min(1440){
      margin-bottom: -37px;
    }
    @include min(1600){
      margin-bottom: -50px;
    }
    @include min(1900){
      margin-bottom: -50px;
    }
    img{
      height: auto;
      width: 35px;
      @include min(768){
        width: 45px;
      }
      @include min(992){
        width: 35px;
      }
      @include min(1200){
        width: 50px;
      }
      @include min(1600){
        width: 70px;
      }
      @include min(1900){
        width: 80px;
      }
    }
  }
  &:hover{
    background: $themeBg;
    box-shadow: $boxShadow10;
    transition: 0.5s ease all;
  
    border-radius: 35px;
    @include min(768){
      border-radius: 38px;
    }
 
    @include min(1200){
      border-radius: 40px;
    }
    @include min(1440){
      border-radius: 45px;
    }
    @include min(1600){
      border-radius: 48px;
    }
    @include min(1900){
      border-radius: 50px;
    }
    picture{
      transition: 0.5s ease all;
      background-color: $white;
      img{
        filter: invert(1);
      transition: 0.5s ease all;

      }
    }
    strong,span,sup,p{
      transition: 0.5s ease all;
      color: $white;
    }
  }

}