.innerBanner{
    position: relative;
    background-color: $primaryColor;
    .heading{
        span{
            color: $white;
        }
    }
    > picture {
        position: relative;
    
        &::after{
            opacity: 0.5;
            background: #000D25;
            
            mix-blend-mode: multiply;
            
            @extend .position;
            @extend .wh-100;
            left: 0;
            z-index: 0;
            bottom: 0;
           
        }
        img{
            @extend .wh-100;
            object-fit: cover;
        }
    }
    .container-ctn{
        z-index: 2;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-70%);
        @include min(576){
            transform: translate(-50%,-11%);

        }
    }
    h1{
        color: $white;
        text-transform: capitalize;
    }
    .breadCrumb{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 0px;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
  
            align-items: center;
       
            li,a{
                text-transform: uppercase;
                color: $white;
              
            }
            li{
                &:last-child{
                    font-weight: 700;
                }
            }
        }
    }
  
  
}

