.services-listing{
    @extend .commonPadding;
    .container-ctn{
        >  .btn{
            @extend .themeBtn;
            @extend .themeBtnPrimary;
            
            margin: auto;
            @include max(575){
                margin-top: 20px;
            }
            margin-top: 30px;
            @include min(992){
                margin-top: 60px;
            }  
        }
    }
  
.serviceSlider-item {
    width:100%;
    @include min(576){
        width: 48.5%;
    }
    @include min(768){
        width: 30.9%;
    }
    @include min(992){
        width: 22.25%;
    }
    @include min(1200){
        width: 17.55%;
    }

}
.serviceSlider-wrapper{
    gap: 15px ;
    @include min(768){
        gap: 25px ;
    }
    @include min(992){
        gap: 32px ;
    }
    @include min(1350){
        gap: 37px ;
    }
    @include min(1440){
        gap: 38px ;
    }
    @include min(1600){
        gap: 42px ;
    }
}
}
.service-details{
    p,ul{
        margin-bottom: 20px;
    }
    .long-description{
        margin-top: 0px;
        @include min(1200){
            margin-top: 60px;
        }
        ul{
            @include min(768){column-count: 2;}
            
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: space-between;
        //    li{
        //     @include min(768){
        //         width: 48%;
        //     }
        //    }
        }
    }
}
// ===================================Sub Services==============================================
.sub-services{
    @extend .commonPadding;
    padding-top: 0;
    .d-flex{
        gap: 15px ;
        @include min(768){
            gap: 25px ;
        }
        @include min(992){
            gap: 29px ;
        }
        @include min(1200){
            gap: 24px ;
        }
        @include min(1350){
            gap: 28px ;
        }
        @include min(1440){
            gap: 29px ;
        }
        @include min(1600){
            gap: 33px ;
        }
        @include min(1900){
            gap: 40px ;
        }
    }
    .sub-service-box{
        border: 1px solid #ECECEC;
        width:100%;
        @include min(576){
            width: 48.5%;
        }
        @include min(768){
            width: 48%;
        }
        @include min(992){
            width: 30.9%;
        }
   
        @include min(1200){
            width: 23.25%;
        }
        img{
            width: 100%;
            height: auto;
        }
        h3{
            color: $black;
            margin-bottom: 10px;
            height: 50px;
            overflow: hidden;
            @include min(576){
                height: 49px;
            }
            @include min(768){
                height: 45px;
            }
            @include min(992){
                margin-bottom: 10px;
                height: 50px;
            }
            @include min(1200){
                margin-bottom: 12px;
                height: 49px;
            }
            @include min(1440){
                margin-bottom: 14px;
                height: 50px;
            }
            @include min(1600){
                margin-bottom: 16px;
                height: 66px;
            }
            @include min(1900){
                margin-bottom: 20px;
                height: 66px;
            }
        }
       > div{
                padding: 22px 12px 26px 12px;
            // @include min(992){
            //     padding: 22px 12px 26px 12px;
            // }
            @include min(1200){
                padding: 22px 12px 26px 12px;
            }
            @include min(1440){
                padding: 26px 16px 31px 16px;
            }
            @include min(1600){
                padding: 28px 18px 33px 18px;
            }
            @include min(1900){
                padding: 30px 20px 35px 20px;
            }
            div{
                height: 100px;
                overflow: auto;
                @include min(576){
                    height: 120px;
                }
                @include min(1200){
                    height: 110px;
                }
                @include min(1440){
                    height: 95px;
                }
                @include min(1600){
                    height: 130px;
                }
                @include min(1900){
                    height: 175px;
                }
            }
            p{
                padding-right: 13px;
            }
        }
        transition: 0.5s ease all;
        &:hover{
            box-shadow: 0px 15px 15px 0px rgba(106, 40, 117, 0.15);
            transition: 0.5s ease all;
        }
    }
}



// ====================================================================================================
.form-col-3 {
    width:100%;
    @include min(768){
        width: 31.65%;
    }
    @include min(1200){
        width: 20.2%;
    }
}
.form-col-6 {
    width: 100%;
    height: fit-content;
    @include min(768){
        width: 31.65%;
    }
    @include min(1200){
        width: 73.5%;
    }
}
.service-enquiry{
    background: linear-gradient(92deg, #6A2875 21.35%, #C64BDB 99.89%);
    border-radius: 30px 30px 0px 0px ;

    @include min(992){
        border-radius: 40px 40px   0px 0px;
    }
    @include min(1200){
        border-radius:  50px 50px  0px 0px;
    }
    @include min(1440){
        border-radius:  80px 80px  0px 0px;
    }
    @include min(1600){
        border-radius: 90px 90px  0px 0px ;
    }
    @include min(1900){
        border-radius:100px 100px  0px 0px  ;
    }
    @extend .commonPadding;
    h2{
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 18px;
        @include min(992){
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        @include min(1200){
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 22px;
        }
        @include min(1440){
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 25px;
        }
        @include min(1600){
            font-size: 27px;
            line-height: 38px;
            margin-bottom: 27px;
        }
        @include min(1900){
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 29px;
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 25px 0px;
        @include min(768){
            gap: 17px ;
        }
        @include min(992){
            gap: 22px ;
        }
        @include min(1200){
            gap: 26px 68px;
        }
        @include min(1350){
            gap: 28px 77px;
        }
        @include min(1440){
            gap: 30px 82px;
        }
        @include min(1600){
            gap: 32px 91px;
        }
        @include min(1900){
            gap: 34px 110px;
        }
    }
   


}
.theme-form{
    input,textarea,select{
        border-radius: 0;
        background: unset;
        border: unset;
        width: 100%;
        color: $white;
        border-bottom: 1px solid #D9D9D9;

        
        padding:0px 30px ;
        // font-size: 15px;
        @include max(575){
            // height: 32px;
        }
        @include min(768){
        //   font-size: 14px;
        }
        @include min(992){
        //   font-size: 15px;
        padding: 0px 30px ;
        }
        @include min(1200){
          padding: 0px 44px ;
        //   font-size: 16px;
        }
        @include min(1440){
          padding: 0px 48px ;
        //   font-size: 17px;
        }
        @include min(1600){
          padding: 0px 50px ;
        //   font-size: 18px;
        }
        @include min(1900){
        //   padding-left: 54px;
        //   font-size: 20px;
        }
        &::placeholder{
            color: $white;

        }
    }
    select{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><g clip-path="url(%23clip0_945_2206)"><path d="M7.50256 10.7307C7.0919 10.7314 6.68513 10.6512 6.30549 10.4946C5.92586 10.3381 5.5808 10.1082 5.29006 9.81818L0.183807 4.71193C0.0661174 4.59424 0 4.43462 0 4.26818C0 4.10174 0.0661174 3.94212 0.183807 3.82443C0.301497 3.70674 0.461119 3.64062 0.627557 3.64062C0.793996 3.64062 0.953617 3.70674 1.07131 3.82443L6.17756 8.93068C6.52912 9.28181 7.00568 9.47903 7.50256 9.47903C7.99943 9.47903 8.47599 9.28181 8.82756 8.93068L13.9338 3.82443C14.0515 3.70674 14.2111 3.64063 14.3776 3.64062C14.544 3.64062 14.7036 3.70674 14.8213 3.82443C14.939 3.94212 15.0051 4.10174 15.0051 4.26818C15.0051 4.43462 14.939 4.59424 14.8213 4.71193L9.71506 9.81818C9.42431 10.1082 9.07926 10.3381 8.69962 10.4946C8.31999 10.6512 7.91321 10.7314 7.50256 10.7307Z" fill="white"/></g><defs><clipPath id="clip0_945_2206"><rect width="15" height="15" fill="white"/></clipPath></defs></svg>');
        background-repeat: no-repeat;
        background-position: right;
    }
    .btn{
        @extend .themeBtn;
        @extend .themeBtnPrimary;
        background-color: #fff;
        color: $black;
        i{
            background-color: $primaryColor;
        }
        &:hover{
            color: $white;
        }

    }
    .formGroup{
        div{
            position: relative;
            height: 25px;
            @include min(992){
                height: 25px;
            }
            @include min(1200){
                height: 36px;
            }
            
            &::before{
                background-size: contain!important;
                background-repeat: no-repeat!important;
                @extend .position;
                left: 0;
                top: 0;
                width: 21px;
                height: 21px;
                @include min(768){
               

                }
                @include min(992){
                    left: 0;
                    width: 20px;
                    height: 20px;
                }
                @include min(1200){
                    top: -5px;
                    width: 24px;
                    height: 24px;
                }
                @include min(1440){
                    width: 26px;
                    height: 26px;
                }
                @include min(1600){
                    width: 28px;
                    height: 28px;
                }
                @include min(1900){
                    width: 30px;
                    height: 30px;
                }
            }
            &.name{
                &::before{

                    background: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="30" height="30" rx="15" fill="%23D400F8"/><path d="M21.7676 19.9141C21.3992 19.0414 20.8645 18.2486 20.1934 17.5801C19.5243 16.9096 18.7317 16.375 17.8594 16.0059C17.8516 16.002 17.8438 16 17.836 15.9961C19.0528 15.1172 19.8438 13.6855 19.8438 12.0703C19.8438 9.39453 17.6758 7.22656 15 7.22656C12.3243 7.22656 10.1563 9.39453 10.1563 12.0703C10.1563 13.6855 10.9473 15.1172 12.1641 15.998C12.1563 16.002 12.1485 16.0039 12.1407 16.0078C11.2657 16.377 10.4805 16.9063 9.80669 17.582C9.1362 18.2511 8.60162 19.0437 8.23247 19.916C7.86982 20.77 7.67423 21.6856 7.6563 22.6133C7.65578 22.6341 7.65943 22.6549 7.66705 22.6743C7.67467 22.6937 7.6861 22.7114 7.70066 22.7263C7.71522 22.7412 7.73262 22.7531 7.75184 22.7612C7.77105 22.7693 7.7917 22.7734 7.81255 22.7734H8.98442C9.07036 22.7734 9.13872 22.7051 9.14067 22.6211C9.17974 21.1133 9.7852 19.7012 10.8555 18.6309C11.9629 17.5234 13.4336 16.9141 15 16.9141C16.5665 16.9141 18.0372 17.5234 19.1446 18.6309C20.2149 19.7012 20.8204 21.1133 20.8594 22.6211C20.8614 22.707 20.9297 22.7734 21.0157 22.7734H22.1875C22.2084 22.7734 22.229 22.7693 22.2483 22.7612C22.2675 22.7531 22.2849 22.7412 22.2994 22.7263C22.314 22.7114 22.3254 22.6937 22.333 22.6743C22.3407 22.6549 22.3443 22.6341 22.3438 22.6133C22.3243 21.6797 22.1309 20.7715 21.7676 19.9141V19.9141ZM15 15.4297C14.1036 15.4297 13.2598 15.0801 12.625 14.4453C11.9903 13.8105 11.6407 12.9668 11.6407 12.0703C11.6407 11.1738 11.9903 10.3301 12.625 9.69531C13.2598 9.06055 14.1036 8.71094 15 8.71094C15.8965 8.71094 16.7403 9.06055 17.375 9.69531C18.0098 10.3301 18.3594 11.1738 18.3594 12.0703C18.3594 12.9668 18.0098 13.8105 17.375 14.4453C16.7403 15.0801 15.8965 15.4297 15 15.4297Z" fill="white"/></svg>');
                }
            }
            &.mail{
                &::before{

                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><rect y="0.789062" width="30" height="30" rx="15" fill="%23D400F8"/><rect x="7" y="10" width="16" height="12" stroke="white" stroke-width="1.5"/><path d="M7 10L15 16L23 10" stroke="white" stroke-width="1.5"/></svg>');
                }
            }
            &.phone{
                &::before{

                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><rect width="30" height="30" rx="15" fill="%23D400F8"/><rect x="9" y="6" width="12" height="18" stroke="white" stroke-width="1.5"/><circle cx="15" cy="20" r="1" fill="white"/></svg>');
                }
            }
            &.service{
                &::before{

                    background: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="30" height="30" rx="15" fill="%23D400F8"/><g clip-path="url(%23clip0_1289_47)"><path d="M24.168 22.5037H23.1021L22.0013 19.2129C21.8356 18.7159 21.5178 18.2834 21.093 17.9767C20.6682 17.6701 20.1578 17.5046 19.6338 17.5037H16.668C16.2259 17.5037 15.802 17.3281 15.4895 17.0156C15.1769 16.703 15.0013 16.2791 15.0013 15.8371H20.0013C20.2223 15.8371 20.4343 15.7493 20.5906 15.593C20.7468 15.4367 20.8346 15.2247 20.8346 15.0037C20.8346 14.7827 20.7468 14.5708 20.5906 14.4145C20.4343 14.2582 20.2223 14.1704 20.0013 14.1704H15.0013V11.6704C14.9963 11.6327 14.9888 11.5954 14.9788 11.5587C15.7677 11.3609 16.457 10.8815 16.917 10.2107C17.377 9.53998 17.5758 8.72421 17.4762 7.91703C17.3765 7.10984 16.9852 6.36695 16.3758 5.82825C15.7665 5.28954 14.9813 4.99219 14.168 4.99219C13.3547 4.99219 12.5694 5.28954 11.9601 5.82825C11.3508 6.36695 10.9594 7.10984 10.8598 7.91703C10.7601 8.72421 10.959 9.53998 11.4189 10.2107C11.8789 10.8815 12.5683 11.3609 13.3571 11.5587C13.3472 11.5954 13.3396 11.6327 13.3346 11.6704V15.8371C13.3364 16.7071 13.6782 17.542 14.2872 18.1634C14.8962 18.7849 15.724 19.1435 16.5938 19.1629C16.4415 20.0737 16.0399 20.9245 15.4337 21.621C14.8274 22.3175 14.0401 22.8325 13.159 23.1089C12.278 23.3853 11.3376 23.4123 10.4421 23.187C9.54657 22.9616 8.73098 22.4927 8.0857 21.8322C7.44043 21.1716 6.99067 20.3453 6.78629 19.4448C6.58192 18.5443 6.63091 17.6048 6.92783 16.7304C7.22475 15.856 7.75801 15.081 8.46849 14.4911C9.17896 13.9013 10.0389 13.5197 10.953 13.3887C11.1719 13.3573 11.3694 13.2403 11.502 13.0633C11.6346 12.8863 11.6914 12.6639 11.6601 12.445C11.6287 12.2261 11.5116 12.0286 11.3346 11.896C11.1576 11.7634 10.9352 11.7065 10.7163 11.7379C9.48627 11.9143 8.33003 12.431 7.37805 13.2296C6.42607 14.0283 5.71624 15.0771 5.32867 16.2577C4.94109 17.4383 4.8912 18.7038 5.18462 19.9112C5.47804 21.1187 6.10309 22.2202 6.98924 23.0913C7.87539 23.9624 8.98736 24.5685 10.1997 24.8412C11.412 25.1139 12.6764 25.0423 13.8502 24.6346C15.024 24.2269 16.0605 23.4992 16.8428 22.5337C17.625 21.5682 18.1218 20.4033 18.2771 19.1704H19.6338C19.8088 19.1704 19.9793 19.2254 20.1213 19.3277C20.2632 19.43 20.3693 19.5744 20.4246 19.7404L21.7113 23.6004C21.7665 23.7663 21.8726 23.9106 22.0143 24.0129C22.1561 24.1152 22.3265 24.1703 22.5013 24.1704H24.168C24.389 24.1704 24.6009 24.0826 24.7572 23.9263C24.9135 23.77 25.0013 23.5581 25.0013 23.3371C25.0013 23.1161 24.9135 22.9041 24.7572 22.7478C24.6009 22.5915 24.389 22.5037 24.168 22.5037ZM12.5013 8.33707C12.5013 8.00743 12.5991 7.6852 12.7822 7.41112C12.9653 7.13703 13.2256 6.92341 13.5302 6.79727C13.8347 6.67112 14.1698 6.63812 14.4931 6.70242C14.8164 6.76673 15.1134 6.92547 15.3465 7.15855C15.5796 7.39164 15.7383 7.68861 15.8026 8.01192C15.8669 8.33522 15.8339 8.67033 15.7078 8.97487C15.5816 9.27942 15.368 9.53971 15.0939 9.72285C14.8198 9.90598 14.4976 10.0037 14.168 10.0037C13.7259 10.0037 13.302 9.82814 12.9895 9.51558C12.6769 9.20302 12.5013 8.77909 12.5013 8.33707Z" fill="white"/></g><defs><clipPath id="clip0_1289_47"><rect width="20" height="20" fill="white" transform="translate(5 5)"/></clipPath></defs></svg>');
                }
            }
            &.message{
                &::before{
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><rect width="30" height="30" rx="15" fill="%23D400F8"/><path d="M18.9491 6.84055L7.38824 18.4182C6.94668 18.858 6.59663 19.3811 6.35834 19.9573C6.12005 20.5336 5.99826 21.1514 6.00002 21.775V23.0504C6.00002 23.3022 6.09992 23.5438 6.27775 23.7218C6.45558 23.8999 6.69677 24 6.94826 24H8.22174C8.8445 24.0017 9.46143 23.8798 10.0368 23.6411C10.6122 23.4025 11.1346 23.0519 11.5738 22.6098L23.1347 11.0321C23.6888 10.4758 24 9.72211 24 8.93633C24 8.15056 23.6888 7.39686 23.1347 6.84055C22.5711 6.30107 21.8215 6 21.0419 6C20.2623 6 19.5127 6.30107 18.9491 6.84055V6.84055ZM21.7938 9.68937L10.2329 21.267C9.69826 21.7992 8.97559 22.0988 8.22174 22.1008H7.89649V21.775C7.89847 21.0201 8.19762 20.2964 8.72904 19.7609L20.2899 8.18329C20.4925 7.98953 20.7618 7.88141 21.0419 7.88141C21.322 7.88141 21.5913 7.98953 21.7938 8.18329C21.9929 8.3832 22.1047 8.65401 22.1047 8.93633C22.1047 9.21866 21.9929 9.48947 21.7938 9.68937V9.68937Z" fill="white"/></svg>');
                }
            }
        }
    }
}
// ================================================ Steps ============================================================================
.steps{
    @extend .commonPadding;
    border-radius: 0px 0px 30px 30px ;
    background: #FAF0EC;

    @include min(992){
        border-radius: 0px 0px 40px 40px ;
    }
    @include min(1200){
        border-radius: 0px 0px 50px 50px ;
    }
    @include min(1440){
        border-radius: 0px 0px 80px 80px ;
    }
    @include min(1600){
        border-radius: 0px 0px 90px 90px ;
    }
    @include min(1900){
        border-radius: 0px 0px 100px 100px ;
    }
    .slick-nav {
        gap: 25px;
        @include max(575){
            margin-top: 40px;
            width: 100%;
            justify-content: space-between;
        }
        @include min(576){
            width: fit-content;

        }
        @include min(768){
            
            gap: 30px;
        }
        @include min(992){
            gap: 35px;
        }
        @include min(1200){
            gap: 40px;
        }
        @include min(1440){
            gap: 45px;
        }
        @include min(1600){
            gap: 55px;
        }
        @include min(1900){
            gap: 60px;
        }
    }
    .heading{
        h2{
            margin-bottom: 0;
        }
    }
    .step-slider{
        @include min(576){
            margin-top: 40px;
        }
        .slick-slide{
           margin-left: 20px;
           margin-right: 20px;
           @include min(576){
            margin-left: 8px;
            margin-right: 8px;
           }
           @include min(768){
            margin-left: 10px;
            margin-right: 10px;
           }
           @include min(1200){
            margin-left: 11px;
            margin-right: 11px;
           }
           @include min(1440){
            margin-left: 14px;
            margin-right: 14px;
           }
           @include min(1600){
            margin-left: 16px;
            margin-right: 16px;
           }
           @include min(1900){
            margin-left: 20px;
            margin-right: 20px;
           }
        }
        .slick-list{
            margin: 0px -20px;
            @include min(576){
                margin: 0px -8px;
            }
            @include min(768){
                margin: 0px -10px;
            }
            @include min(1200){
                margin: 0px -11px;
            }
            @include min(1440){
                margin: 0px -14px;
            }
            @include min(1600){
                margin: 0px -16px;
            }
            @include min(1900){
                margin: 0px -20px;
            }
        }
        article{
            position: relative;
            border: 1px solid #ECECEC;
            background: #FFF;
            transition: 0.5s ease all;
            margin-bottom: 13px;
            padding: 55px 20px 30px 20px;
            margin-top: 55px;
            @include min(576){
                margin-bottom: 13px;
                padding: 35px 20px 20px 20px;
                margin-top: 50px;
            }
            @include min(768){
                margin-bottom: 13px;
                padding: 55px 20px 30px 20px;
                margin-top: 55px;
            }
            @include min(1350){
                margin-bottom: 13px;
                padding: 55px 30px 30px 10px;
                margin-top: 55px;
            }
            @include min(1440){
                margin-bottom: 15px;
                padding: 65px 35px 35px 15px;
                margin-top: 65px;
            }
            @include min(1600){
                margin-bottom: 18px;
                padding: 60px 38px 38px 18px;
                margin-top: 70px;
            }
            @include min(1900){
                margin-bottom: 20px;
                padding: 95px 40px 40px 20px;
                margin-top: 75px;
            }

            picture{
                transition: 0.5s ease all;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: #ECECEC;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                top: -45px;
                width: 90px;
                height: 90px;  
                @include min(576){
                    top: -50px;
                    width: 75px;
                    height: 75px;    
                }
                @include min(992){
                    top: -50px;
                    width: 95px;
                    height: 95px;    
                }
                @include min(1200){
                    top: -50px;
                    width: 95px;
                    height: 95px;    
                }
                @include min(1440){
                    top: -65px;
                    width: 110px;
                    height: 110px;    
                }
                @include min(1600){
                    top: -70px;
                    width: 120px;
                    height: 120px;    
                }
                @include min(1900){
                    top: -75px;
                    width: 150px;
                    height: 150px;    
                }

                img{
                    width: 60px;
                    height: 60px;
                    @include min(768){
                        width: 50px;
                        height: 50px;
                    }
                    @include min(992){
                        width: 60px;
                        height: 60px;
                    }
                    @include min(1200){
                        width: 60px;
                        height: 60px;
                    }
                    @include min(1440){
                        width: 70px;
                        height: 70px;
                    }
                    @include min(1600){
                        width: 75px;
                        height: 75px;
                    }
                    @include min(1900){
                        width: 100px;
                        height: 100px;
                    }
                }
                +p{
                    font-family: "ArialRounded", serif;
                    margin-bottom: 5px;
                    font-size: 18px;
                    line-height: 28px;
                
                    @include min(768){
                        font-size: 20px;
                        line-height: 30px;
                    }
                    @include min(1200){
                        font-size: 24px;
                        line-height: 34px;
                    }
                    @include min(1440){
                        font-size: 28px;
                        line-height: 40px;
                    }
                    @include min(1600){
                        font-size: 30px;
                        line-height: 45px;
                    }
                    @include min(1900){
                        font-size: 34px;
                        line-height: 50px;
                    }
                   
                }
            }
            p,h3{
                color: $black;

            }
            h3{
             
                overflow: hidden;
                @include max(575){
                    margin-bottom: 5px;
                }
                @include min(576){
                    height: 52px;
                }
                @include min(768){
                    height: 55px;
                }
            
                @include min(1440){
                    height: 55px;
                }
                @include min(1600){
                    height: 65px;
                }
                @include min(1900){
                    height: 70px;
                }
            }
            div{
                overflow-y: auto;
                height: 100px;
                @include min(576){
                    height: 144px;
                }
                @include min(768){
                    height: 170px;
                }
                @include min(992){
                    height: 110px;
                }
                @include min(1200){
                    height: 88px;
                }
                @include min(1440){
                    height: 88px;
                }
                @include min(1600){
                    height: 130px;
                }
                @include min(1900){
                    height: 175px;
                }
            }
            &:hover{
                picture{
                    background-color: $primaryColor;
                    transition: 0.5s ease all;
                    img{
                        filter: invert(1);
                        transition: 0.5s ease all;

                    }
                    +p{
                        transition: 0.5s ease all;
                        color: $secondaryColor;
                    }

                }
                transition: 0.5s ease all;
                box-shadow: 0px 8px 8px 0px rgba(106, 40, 117, 0.15);
                @include min(1200){
                    box-shadow: 0px 9px 9px 0px rgba(106, 40, 117, 0.15);
                }
                @include min(1440){
                    box-shadow: 0px 11px 11px 0px rgba(106, 40, 117, 0.15);
                }
                @include min(1600){
                    box-shadow: 0px 13px 13px 0px rgba(106, 40, 117, 0.15);
                }
                @include min(1900){
                    box-shadow: 0px 15px 15px 0px rgba(106, 40, 117, 0.15);
                }
            }
        }
    }
}